body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

* {
  box-sizing: border-box;
}

.header {
  background: url(../images/header-bg.jpg) no-repeat top center / cover;
  min-height: 793px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__top {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  align-items: center;
}

.header a {
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}

.menu__list {
  display: flex;
}

.menu__list li + li {
  margin-left: 50px;
}

.menu__item {
  color: white;
  opacity: 0.5;
  transition: all .2s ease;
}

.menu__item:hover {
  opacity: 1;
}

.login {
  padding-right: 40px;
  color: white;
}

.sign-up {
  background: #fff;
  padding: 8px 43.5px;
  color: #250F8A;
  border-radius: 20px;
  transition: all .5s ease;
}

.sign-up:hover {
  background: #250F8A;
  color: white;
}

/* .header__scroll-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  margin-left: 60px;
}

.scroll-bar-item--active {
  margin-bottom: -5px;
}

.scroll-bar-item {
  margin-bottom: -5px;
} */


.header-slider {
  &__item {}
  &__one {
    display: flex;
    justify-content: space-between;
    margin-top: 141px;
  }
  &__one-info {
    color: white;
    max-width: 506px;
  }
  &__one-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 60px;
    margin-bottom: 10px;
  }
  &__one-descr {
    font-size: 24px;
    line-height: 55px;
    margin-bottom: 60px;
  }
  &__one-btn {
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    background: #FFCA00;
    padding: 13px 39px;
    border-radius: 25px;
    transition: all .5s ease;
    &:hover {
      background: #d6ac03;
    }
  }
  &__one-image {
    margin-right: 82px;
  }
  &__dots {
    list-style: none;
    position: absolute;
    right: 0;
    top: 50%;
    & button {
      border: none;
      background: #fff;
      opacity: .5;
      font-size: 0;
      padding: 0;
      width: 7px;
      height: 7px;
      border-radius: 3.5px;
      cursor: pointer;
      outline: none;
      margin: 10px auto;
      display: block;
      transition: all .2s linear;
    }
    .slick-active {
      button {
        width: 15px;
        opacity: 1;
      }
    }
  }
}

.specialised {
  padding-top: 55px;
  margin-bottom: 93px;
  &__container {}
  &__title {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
  }
  &__rows {
    display: flex;
    justify-content: center;
    padding-top: 96px;
  }
  &__row {
    width: 280px;
    height: 280px;
    text-align: center;
  }
  &__row-image {
    margin-bottom: 23px;
  }
  &__row-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  &__row-descr {
    color: #272727;
  }
}

.my-margin {
  margin: 0 70px;
}

.specialised-bg {
  position: absolute;
  right: 90%;
}

.advantage {
  padding-top: 64px;
  background: #F4F9FD;
  background-image: url(../images/background.svg);
  background-repeat: no-repeat;
  background-position: center right;
}
.advantage-block {
  display: flex;
  justify-content: space-between;
  padding-bottom: 76px;
  &__text {
    max-width: 456px;
    padding-top: 60px; // от пизды размер
    background: url(../images/path.svg) no-repeat;
    background-position: 22px 73px;
  }
  &__info-title {
    color: #202020;
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
    // padding-top: 68px;
    // padding-bottom: 15px;
    // padding-left: 48px;
    padding: 68px 0 15px 48px;
  }
  &__info-descr {
    padding-left: 48px;
    color: #272727;
    & p {
      margin: 12px 0;
    }
  }
  &__image {}
}

.advantage-block--reverse {
  display: flex;
  flex-direction: row-reverse;
  & .advantage-block__text {
    background: url(../images/path-r.svg) no-repeat;
    background-position: 22px 134px;
  }
}

.rewievs {
  background: url(../images/bg.jpg) no-repeat center top / cover;
  &__title {
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    line-height: 45px;
    padding-top: 38px;
    padding-bottom: 48px;
    color: white;
  }
  &__container {
    max-width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 82px;
  }
  &__block {
    background: rgba(255, 255, 255, 0.2);
    max-width: 300px;
    padding: 35px 20px;
    color: white;
    border-radius: 5px;
  }
  &__name {
    display: flex;
    margin-bottom: 12px;
  }
  &__name-pos {}
  &__descr {
    text-align: center;
    opacity: 1;
  }
}
.r-name {
  font-weight: 600;
}
.r-pos {
  opacity: .5;
}

.ava {
  margin-right: 20px;
  border-radius: 26px;
}

.footer {
  height: 61px;
  &__menu {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  }
  &__links {}
  &__item {
    list-style: none;
    display: flex;
  }
  &__link {
    margin-right: 35px;
    & a {
      text-decoration: none;
      color: black;
    }
  }
}
.copy {
}

@media (max-width: 839px) {
  .header__top {
    flex-wrap: wrap;
  }
  .header-btns {
    width: 100%;
    text-align: right;
    margin-top: 7px;
  }
  .login {
    //padding-right: 0;
    position: absolute;
    left: 3%;
    top: 75px;
    
    background: #fff;
    padding: 4.8px 51.5px;
    color: #250F8A;
    border-radius: 20px;
    transition: all .5s ease;
  }
  .login:hover {
      background: #250F8A;
      color: white;
  }

  .sign-up {
    position: absoulute;
  }
}

@media (max-width: 570px) {
  .menu__list {
    display: none;
    position: absolute;
    top: 120px;
    left: 0;
    text-align: center;
    width: 100%;
    background: #1a51ab;
  }

  .menu__list li + li {
    margin-left: 0;
  }

  .menu__list a{
    display: block;
    padding: 10px 0;
  }

  .menu__btn {
    width: 30px;
    height: 20px;
    position: relative;
  }

  .menu__btn span {
    width: 100%;
    height: 2px;
    background: #fff;
    top: 9px;
    position: absolute;
  }

  .menu__btn::after,
  .menu__btn::before {
    content: '';
    width: 100%;
    height: 2px;
    background: #fff;
    position: absolute;
  }

  .menu__btn::after {
    // top: 0;
  }

  .menu__btn::before {
    bottom: 0;
  }
}







